.columns{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

div.nodeList{
	display: flex;
	flex-direction: column-reverse;
	width: 200px;
	justify-content: flex-start;
	align-items: stretch;
}

button.add{
	margin: 5px;
	min-height: 5em;	
}

div.audio-node{
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

div.audio-node select{
	width: 150px;
}
div.output{
	height: 100px;
}

div.audio-param > *{
	margin-bottom: 5px;
}

div.audio-param > input{
	width: 80px;
}

div.audio-param > select{
	width: 120px;
}

div.coefs{
	height: 130px;
	overflow-x: auto;
	overflow-y: scroll; 
}

div.coefs input{
	width: 70px;
}
span.name{
	float: left;
}

span.close{
	float: right;
	cursor: pointer;
}

span.collapse{
	cursor: pointer;
	margin: 10px;
	text-decoration: underline;
}

div.hiddenLists{
	margin: 10px;
	border-bottom: 1px dashed black;
	max-width: 90vw;
}

div.hiddenLists > span{
	display: inline-block;
	margin: 0px 20px;
	cursor: pointer;
}

div.play, div.stop{
	margin: 0px 50px ;
	width: 0;
	height: 0;
	cursor: pointer;
    transition-property: border-left, border-top, border-bottom, border-right;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
div.play{
	border-left: 80px solid green; 
	border-top: 50px solid transparent; 
	border-bottom: 50px solid transparent;
	border-right: 0px solid green;
}

div.stop{
	border-left: 50px solid red; 
	border-top: 50px solid red; 
	border-bottom: 50px solid red;
	border-right: 50px solid red;
}

span.highlighted{
	cursor: pointer;
	background-color: #faa;
}

div.editor{
	position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(100, 100, 100, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.editor > textarea{
	width: 600px;
	height: 600px;
}
div.hidden{
	display: none;
}

div.editor-close{
	font-size: 50px;
	cursor: pointer;
	margin-left: 650px;
	color: #555;
}